.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
    

    &__inner {
        flex-basis: 20%;
        min-width: 270px;
        padding: 5%;
    }
    
    &__inner:nth-child(3){
            flex-basis: 40%;
        }
    
     &__inner:nth-child(1){
            padding: 0;
        }

    &__outer {
      background-color: $mainGreen;
    }
    
    & iframe{
        max-width: 100%;
        height: auto;
    }
}
